* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-weight: 400;
  line-height: 1;
  min-height: 100vh;
  font-family: "Manrope", sans-serif;
  background-color: #1f2632;
  max-width: 50rem;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.advice-container {
  text-align: center;
  background-color: #323a49;
  padding: 4.8rem;
  border-radius: 2rem;
  position: relative;
  transition: all 0.3s;
}

.advice-container:hover {
  transform: translateY(-1.2rem);
}

.advice-id {
  font-size: 2rem;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-bottom: 4rem;
  color: #52ffa8;
}

.advice-containers p {
  font-size: 2.8rem;
  line-height: 1.5;
  margin-bottom: 3.6rem;
  color: #cee3e9;
  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.desktop-divider {
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.mobile {
  display: none;
}

.btn-container {
  background-color: #52ffa8;
  padding: 1.3rem;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: absolute;
  transform: translate(-50%, 50%);
  bottom: 0;
  left: 50%;
  transition: all 0.15s;
}

.btn-container:hover {
  box-shadow: 1.2rem 1.2rem 2.4rem rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

.dice-btn {
  height: 2rem;
  color: #1f2632;
}

.loading {
  position: absolute;
  top: 40%;
  left: 38.3%;

  font-size: 2rem;
  text-align: center;
  color: #cee3e9;
  letter-spacing: 5px;
  font-weight: 600;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.hidden {
  display: none;
}

.error {
  color: #ff0000;
  font-weight: 550;
  font-size: 1.27rem;
}

@media (max-width: 758px) {
  .desktop-divider {
    display: none;
  }

  .mobile {
    display: block;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 4.5rem;
  }

  .advice-container {
    padding: 2.8rem;
  }

  .advice-id {
    margin-bottom: 6rem;
  }

  .loading {
    position: absolute;
    top: 40%;
    left: 35%;

    font-size: 1.5rem;
    text-align: center;
    color: #cee3e9;
    letter-spacing: 5px;
  }

  .advice-container:hover {
    transform: none;
  }
}

@media (max-width: 540px) {
  body {
    max-width: 50rem;
    margin: 0 auto;
  }

  .advice-container {
    margin-inline: 2rem;
  }

  .advice-id {
    font-size: 2rem;
    letter-spacing: 3.5px;
    margin-bottom: 2.5rem;
  }

  .advice-containers p {
    font-size: 2.3rem;
    line-height: 1.5;
    margin-bottom: 3.6rem;
  }
}

@media (max-width: 421px) {
  .advice-container {
    margin-inline: 3rem;
    padding: 2.4;
  }

  .advice-id {
    font-size: 1.8rem;
    letter-spacing: 3.5px;
    margin-bottom: 2.5rem;
  }

  .advice-containers p {
    font-size: 2rem;
    line-height: 1.3;
    margin-bottom: 3.6rem;
  }
}

@media (max-width: 395px) {
  .advice-container {
    padding-inline: 1rem;
  }

  .advice-id {
    font-size: 1.5rem;
  }

  .advice-containers p {
    font-size: 1.8rem;
    margin-inline: 0.5rem;
  }
}

@media (max-width: 355px) {
  .advice-container {
    margin-inline: 1.4rem;
  }

  .advice-id {
    font-size: 1.2;
  }

  .advice-containers p {
    font-size: 1.4rem;
  }

  .mobile {
    height: 1.3rem;
  }

  .loading {
    position: absolute;
    top: 40%;
    left: 30%;

    font-size: 1.5rem;
    text-align: center;
    color: #cee3e9;
    letter-spacing: 5px;
  }
}
